*/rust/target/
*/python/__pycache__/
util/python/__pycache__/*
*/python/utils.py
*/python/board_util.py
!/util/python/*
*/java/.idea/
*/java/target/
Cargo.lock
target/
*/csharp/Program.cs
*/csharp/bin/
*/csharp/obj/
.vscode/

*/x86asm/*
!*/x86asm/*.*

.env
build/
